{% extends 'app.html' %}

{% block title %} Login - {% endblock %}
{% block body %}




<form class="form-signin" method="post">
	{% csrf_token %}
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">TouchCore Skill Login</h1>
    <p>
    	
    </p>
  </div>

  <div class="form-label-group">
    <input type="text" id="id_username" class="form-control" name="username" placeholder="Username" required autofocus>
    <label for="id_username">Username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
    <label for="id_password">Password</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}