{% extends 'app.html' %}

{% block title %} Add New Company - {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-6 col-lg-6 myForm">
	<!--
	<form method="POST" action="">
		<div class="form-group">
			<label>Company Name:</label>
			<input type="text" class="form-control" name="name" placeholder="Company's Name">
		</div>
		<div class="form-group">
			<label>Company Email:</label>
			<input type="email" class="form-control" name="email" placeholder="admin@companywebsite">
		</div>
		<div class="form-group">
			<label>Company Website:</label>
			<input type="text" class="form-control" name="website" placeholder="May needs verification">
		</div>
		<div class="form-group">
			<label>Company Logo:</label> (100x100)
			<input type="file" class="form-control" name="logo" placeholder="Logo Size 100x100">
		</div>
		<br>
		<button class="btn btn-success">Create New Company</button>
	</form>
-->
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-warning">Submit</button>
    </form>
	</div>

	<div class="col-md-6 col-lg-6 myFormSide">
	
	</div>
</div>
{% endblock %}