<!DOCTYPE html>
<html lang="en">
<head> 
	<title>{% block title %}Home{% endblock %}</title>
	<meta charset="UTF-8"> 
	<link rel="shortcut icon" href="/static/img/fav.png"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/lineicons.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/weather-icons.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
<div class="container">
	<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="https://facebook.com/ohunayogege">Facebook</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{% url 'index' %}">TouchCore Skill</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
      	{% if user.is_authenticated %}
      	<a class="btn btn-md btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
      	{% else %}
        <a class="btn btn-md btn-outline-secondary" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </header>
</div>
{% block body %}
{% endblock %}
	</div>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/bs-datepicker.js"></script>
	<script src="/static/js/custom.js"></script>
</body>
</html>