{% extends 'app.html' %}

{% block title %} Delete Company - {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-6 col-lg-6 myForm">
	<!--
	<form method="POST" action="">
		<div class="form-group">
			<label>Company Name:</label>
			<input type="text" class="form-control" name="name" placeholder="Company's Name">
		</div>
		<div class="form-group">
			<label>Company Email:</label>
			<input type="email" class="form-control" name="email" placeholder="admin@companywebsite">
		</div>
		<div class="form-group">
			<label>Company Website:</label>
			<input type="text" class="form-control" name="website" placeholder="May needs verification">
		</div>
		<div class="form-group">
			<label>Company Logo:</label> (100x100)
			<input type="file" class="form-control" name="logo" placeholder="Logo Size 100x100">
		</div>
		<br>
		<button class="btn btn-success">Create New Company</button>
	</form>
-->
  <h1>Delete {{ company.name }}?</h1>


<form method="POST" action="">
{% csrf_token %}
Are you sure you want to delete this post? 
<input type="submit" value="Yes"/>
<a href="{% url 'index' %}/">Cancel </a>
</form>

<br/><br/>

	</div>

	<div class="col-md-6 col-lg-6 myFormSide">
	
	</div>
</div>
{% endblock %}