{% extends 'app.html' %}

{% block title %} Add New Company - {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-6 col-lg-6 myForm">
	<!--
	<form method="POST" action="">
		<div class="form-group">
			<label>Company Name:</label>
			<input type="text" class="form-control" name="name" placeholder="Company's Name">
		</div>
		<div class="form-group">
			<label>Company Email:</label>
			<input type="email" class="form-control" name="email" placeholder="admin@companywebsite">
		</div>
		<div class="form-group">
			<label>Company Website:</label>
			<input type="text" class="form-control" name="website" placeholder="May needs verification">
		</div>
		<div class="form-group">
			<label>Company Logo:</label> (100x100)
			<input type="file" class="form-control" name="logo" placeholder="Logo Size 100x100">
		</div>
		<br>
		<button class="btn btn-success">Create New Company</button>
	</form>
-->
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if error %}
{{ error }}
{% endif %}

<form action="" method="POST">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Edit Company"/>
</form>
<br/><br/>

	</div>

	<div class="col-md-6 col-lg-6 myFormSide">
	
	</div>
</div>
{% endblock %}