{% extends 'app.html' %}

{% block title %} Home - {% endblock %}
{% block body %}
<table class="table table-bordered">
	<h2>Companies List</h2>
	<!-- BUTTON TO TRIGGER THE ACTION -->
	<p>
		<a class="btn btn-success" href="{% url 'create_company' %}"> <span class="glyphicon glyphicon-plus"></span> Add New Company</a><br><br>
	</p>
	<thead>
		<tr>
			<th>Company Logo</th>
			<th>Company Name</th>
			<th>Company Email</th>
			<th>Company Website</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for company in companies %}
		<tr class="success">
			<td><img width="100" height="100" src="{{ company.logo.url }}"></td>
			<td><b>{{ company.name }}</b></td>
			<td>{{ company.email }}</td>
			<td>{{ company.website }}</td>
			<td><a class="btn btn-default" id="{{company.id}}" href="company/edit/{{company.id}}">Edit</a> <br> <a class="btn btn-danger" id="{{company.id}}" href="company/delete/{{company.id}}">Delete</a></td>
		</tr>
		{% empty %}
		<tr>
          <td colspan="7" class="text-center bg-warning">No Company yet.</td>
        </tr>
		{% endfor %}
	</tbody>
</table>

<hr/>
<hr/>
<hr/>
<table class="table table-bordered">
	<h2>Employees List</h2>
	<a class="btn btn-success" href="{% url 'create_employee' %}">Add New Employee</a><br><br>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name Name</th>
			<th>Email</th>
			<th>Company</th>
			<th>Phone Number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for employee in employees %}
		<tr class="danger">
			<td>{{ employee.first_name}}</td>
			<td>{{ employee.last_name}}</td>
			<td>{{ employee.email}}</td>
			<td><b>{{ employee.company_name }}</b></td>
			<td>{{ employee.phone}}</td>
			<td><a class="btn btn-default" id="{{employee.id}}" href="employee/edit/{{employee.id}}">Edit</a> <br> <a class="btn btn-danger" id="{{employee.id}}" href="employee/delete/{{employee.id}}">Delete</a></td>
		</tr>
		{% empty %}
		<tr>
          <td colspan="7" class="text-center bg-warning">No Employee yet.</td>
        </tr>
			{% endfor %}
	</tbody>
</table>

{% endblock %}
