{% extends 'app.html' %}

{% block title %} Home - {% endblock %}
{% block body %}
<table class="table table-bordered">
	<h2>Companies List</h2>
	<!-- BUTTON TO TRIGGER THE ACTION -->
  <p>
    <button type="button" class="btn btn-primary create-company">
      <span class="glyphicon glyphicon-plus"></span>
      Add New Company
    </button>
  </p>
	<a class="btn btn-success" href="{% url 'company_create' %}">Add New Company</a><br><br>
	<thead>
		<tr>
			<th>Company Logo</th>
			<th>Company Name</th>
			<th>Company Email</th>
			<th>Company Website</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for company in companies %}
		<tr class="success">
			<td><img width="100" height="100" src="{{ company.logo.url }}"></td>
			<td><b>{{ company.name }}</b></td>
			<td>{{ company.email }}</td>
			<td>{{ company.website }}</td>
			<td><a class="btn btn-default" href="">Edit</a> <br> <a class="btn btn-danger" href="">Delete</a></td>
		</tr>
		{% empty %}
		<tr>
          <td colspan="7" class="text-center bg-warning">No Company yet.</td>
        </tr>
		{% endfor %}
	</tbody>
</table>

<hr/>
<hr/>
<hr/>
<table class="table table-bordered">
	<h2>Employees List</h2>
	<a class="btn btn-success" href="{% url 'employee_create' %}">Add New Employee</a><br><br>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name Name</th>
			<th>Email</th>
			<th>Company</th>
			<th>Phone Number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for employee in employees %}
		<tr class="danger">
			<td>{{ employee.first_name}}</td>
			<td>{{ employee.last_name}}</td>
			<td>{{ employee.email}}</td>
			<td><b>{{ employee.company_name }}</b></td>
			<td>{{ employee.phone}}</td>
			<td><a class="btn btn-default" href="">Edit</a> <br> <a class="btn btn-danger" href="">Delete</a></td>
		</tr>
		{% empty %}
		<tr>
          <td colspan="7" class="text-center bg-warning">No Employee yet.</td>
        </tr>
			{% endfor %}
	</tbody>
</table>


<!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
{% endblock %}
